{% if grafana_config_azure.cloud is defined and
      grafana_config_azure.cloud | string | length > 0 and
      grafana_config_azure.cloud in ["AzureCloud", "AzureChinaCloud", "AzureUSGovernment", "AzureGermanCloud"] %}

[azure]
cloud                           = {{ grafana_config_azure.cloud }}

  {% if grafana_config_azure.managed_identity_enabled is defined %}
managed_identity_enabled        = {{ grafana_config_azure.managed_identity_enabled | bool | bodsch.core.config_bool(true_as='true', false_as='false') }}
  {% endif %}
  {% if grafana_config_azure.managed_identity_client_id is defined and
        grafana_config_azure.managed_identity_client_id | string | length > 0 %}
managed_identity_client_id      = {{ grafana_config_azure.managed_identity_client_id }}
  {% endif %}
{% endif %}
