{% if grafana_config_datasources is defined and
      grafana_config_datasources.enabled %}

[datasources]
  {% if grafana_config_datasources.datasource_limit is defined and
        grafana_config_datasources.datasource_limit | string | length > 0 %}
datasource_limit                = {{ grafana_config_datasources.datasource_limit }}
  {% endif %}
{% endif %}
