{% if grafana_config_expressions is defined and
      grafana_config_expressions | count > 0 and
      grafana_config_expressions.enabled | bool %}

[expressions]
enabled                         = {{ grafana_config_expressions.enabled | bool | bodsch.core.config_bool(true_as='true', false_as='false') }}
{% endif %}
