
[snapshots]
{#
;external_enabled = true
;external_snapshot_url = https://snapshots.raintank.io
;external_snapshot_name = Publish to snapshots.raintank.io
;public_mode = false
;snapshot_remove_expired = true
#}
