
[unified_alerting]
{#
;enabled = true
;disabled_orgs =
;admin_config_poll_interval = 60s
;alertmanager_config_poll_interval = 60s
;ha_listen_address = "0.0.0.0:9094"
;ha_advertise_address = ""
;ha_peers = ""
;ha_peer_timeout = "15s"
;ha_gossip_interval = "200ms"
;ha_push_pull_interval = "60s"
;execute_alerts = true
;evaluation_timeout = 30s
;max_attempts = 3
;min_interval = 10s

[unified_alerting.reserved_labels]
;disabled_labels =
#}
